:root {
  --prima-text-color: rgba(67, 68, 85, 1);
  --title-text-color: rgba(46, 47, 66, 1);
  --accent-color: rgba(77, 90, 229, 1);
  --prima-white-color: rgba(255, 255, 255, 0.84);
  --secondary-color: rgba(245, 245, 252, 0.982);
  --bg-color: rgba(46, 47, 66, 1);
  --btn-bg-color: rgb(64, 75, 191);
  --secondary-btn-bg-color: rgb(232, 234, 252);
  --icon-color: rgb(244, 244, 253);
  --shadow-color: rgba(46, 47, 66, 0.7);
  --icon-logo-color: rgb(142, 143, 153);
  --border-color: rgb(142, 143, 153);
  --icon-hover-color: rgb(64, 75, 191);
  --footer-text-color: #FFFFFF;
  --ovarley-text-color: rgb(244, 244, 253);
}

body {
  font-family: "Roboto", sans-serif;

  color: var(--prima-text-color);
  background-color: var(--prima-white-color);
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}


.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
  color: var(--title-text-color);

}

.title-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--title-text-color);

}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-list-icon {
  fill: var(--icon-color);
}

.btn {}

.social-list-link {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
}

/* Main*/

/* ===============Header================= */
.page-header {
  border-bottom: 1px solid #E7E9FC;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-header-container {
  display: flex;
  align-items: center;
}

.page-nav {
  display: flex;
  align-items: center;
}


.menu-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
  padding: 24px 0;
  margin-right: 76px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-text-color);
}

.menu {
  display: flex;
  align-items: center;
}

.menu-item:not(:last-child) {
  margin-right: 40px;
}

.menu-item {
  content: '';
}

.menu-link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  padding: 24px 0;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--title-text-color);
}

.activ {
  color: #404bbf
}

.activ::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}

.menu-link.activ::after {
  background-color: var(--icon-hover-color);
}

.menu-link:hover,
.menu-link:focus {
  color: var(--accent-color);
}

/*-- Address --*/
.address {
  display: flex;
  align-items: center;
  gap: 40px;
}

.contact {
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--prima-text-color);
  margin-left: auto;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact:hover,
.contact:focus {
  color: var(--accent-color);
}

/* ===============Hero section============ */

.hero {
  display: flex;
  height: 590.57px;
  padding: 188px 0;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hw-04/hero/people-office.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--bg-color);
}

.hero-title {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: var(--prima-white-color);
  letter-spacing: 0.02em;
  margin-left: auto;
  margin-right: auto;
}

.modal-btn {
  font-family: "Roboto", sans-serif;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: block;
  align-items: center;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: none;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  cursor: pointer;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px var(--shadow-color);
  background: var(--accent-color);
  color: var(--prima-white-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus,
.modal-btn:active {
  background: var(--btn-bg-color);
  color: var(--prima-white-color);
}

/* ===========Objectives section============= */
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.goal {
  display: flex;
}

.goal-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  margin-bottom: 8px;
  background: #F4F4FD;
  border-radius: 4px;

}

.icon {
  width: 64px;
  height: 64px;
}

.goal-item:not(:last-child) {
  margin-right: 24px;
}

.goal-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;

  padding: 24p 0;
  color: var(--prima-text-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*=======Devices section=======*/
.devices-section {
  padding-top: 0px;
}

.devices {
  display: flex;
}

.devices-images:not(:last-child) {
  margin-right: 24px;
}

/*=======Team section=======*/

.team {
  gap: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team-section {
  gap: 24px;
  padding: 120px 0;
  background-color: var(--secondary-color);
}

.team-work {
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  background-color: var(--prima-white-color);
}

.team-card-wrapper {
  padding: 32px 0;
  margin: auto;

  border-radius: 0px 0px 4px 4px;
}

.team-features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: var(--prima-text-color);
}

.team-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover,
.team-link:focus {
  background-color: var(--btn-bg-color);
}

/*-- Customers section --*/
.customers-list {
  display: flex;
  gap: 24px;
}

.customers-icon {
  fill: currentColor;
}

.customers-title {
  font-size: 36px;
  line-height: 40px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-text-color);
  margin-bottom: 72px;
}

.customers-list-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customers-item-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--border-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-item-link:hover,
.customers-item-link:focus {
  border-color: var(--icon-hover-color)
}

.customers-item-link:hover,
.customers-item-link:focus {
  color: var(--icon-hover-color)
}

/*-- Footer --*/
.footer-container-content {
  display: flex;
  align-items: baseline;
}

.page-footer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--bg-color);
}

.footer-menu-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: inline-block;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  color: var(--accent-color);
}

.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: inline-block;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.footer-text {
  width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.page-footer-container {
  display: inline-block;
  margin-right: 120px;
}

.footer-list {
  gap: 16px;
}

.wrapper-container {
  display: block;
  align-items: center;
  width: 208px;
}

.text-social {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--footer-text-color);
}

.footer-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  background-color: #31D0AA;
}


/*-- Portfolio --*/

.page-main {
  background-color: var(--prima-white-color);
}

.filters {
  display: inline-block;
  display: flex;
  gap: 24px;
  margin-bottom: 72px;
  justify-content: center;
}

.filters-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding-top: 12px;
  padding-left: 24px;
  padding-bottom: 12px;
  padding-right: 24px;
  border: 1px solid var(--secondary-btn-bg-color);
  background: var(--secondary-color);
  color: var(--accent-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-button:hover,
.filters-button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters-button:hover,
.filters-button:focus {
  border: 1px solid transparent;
  background: var(--btn-bg-color);
  color: var(--prima-white-color);
}

.products {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.products-section {
  padding: 96px 0 120px
}

.products-images {
  display: block;
  border-top: none;
  width: calc((100% - 48px) / 3);
}

.features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--prima-text-color);
}

.content-card-wrapper {
  padding-top: 32px;
  padding: 32px 16px;
  border: 1px solid var(--secondary-btn-bg-color);
  border-top: none;
}

.products-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  line-height: 1.5;
  letter-spacing: 0.02em;
  overflow: auto;
  color: #F4F4FD;
  padding: 40px 32px;
  background-color: rgb(77, 90, 229);
}

.products-link:hover .overlay,
.products-link:focus .overlay {
  transform: translate(0, 0);
}

.products-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products-link:hover,
.products-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

/*-- Modal window--*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 408px;
  min-height: 576px;
  background: #FCFCFC;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #E7E9FC;
}


.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--icon-hover-color);
  border: none;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: #ffffff
}